<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.fau.group6.ecoscapes.aquarium"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="edu.fau.group6.ecoscapes.aquarium.TankActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.fau.group6.ecoscapes.aquarium.SharkTank"
            android:label="@string/title_activity_shark_tank"
            android:parentActivityName="edu.fau.group6.ecoscapes.aquarium.TankActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.myfirstapp.MainActivity" />
        </activity>
        <activity
            android:name="edu.fau.group6.ecoscapes.aquarium.LobsterTank"
            android:label="@string/title_activity_lobster_tank"
            android:parentActivityName="edu.fau.group6.ecoscapes.aquarium.TankActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.myfirstapp.MainActivity" />
        </activity>
        <activity
            android:name="edu.fau.group6.ecoscapes.aquarium.PoisonTank"
            android:label="@string/title_activity_poison_tank"
            android:parentActivityName="edu.fau.group6.ecoscapes.aquarium.TankActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.myfirstapp.MainActivity" />
        </activity>
        <activity
            android:name="edu.fau.group6.ecoscapes.aquarium.SchoolTank"
            android:label="@string/title_activity_school_tank"
            android:parentActivityName="edu.fau.group6.ecoscapes.aquarium.TankActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.myfirstapp.MainActivity" />
        </activity>
        <activity
            android:name="edu.fau.group6.ecoscapes.aquarium.LivingReef"
            android:label="@string/title_activity_living_reef"
            android:parentActivityName="edu.fau.group6.ecoscapes.aquarium.TankActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.myfirstapp.MainActivity" />
        </activity>
        <activity
            android:name="edu.fau.group6.ecoscapes.aquarium.ArtificialReef"
            android:label="@string/title_activity_artificial_reef"
            android:parentActivityName="edu.fau.group6.ecoscapes.aquarium.TankActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.myfirstapp.MainActivity" />
        </activity>
        <activity
            android:name="edu.fau.group6.ecoscapes.aquarium.BlindCaveTank"
            android:label="@string/title_activity_blind_cave_tank"
            android:parentActivityName="edu.fau.group6.ecoscapes.aquarium.TankActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.myfirstapp.MainActivity" />
        </activity>

        <receiver android:name="AquariumReceiver">
            <intent-filter>
                <action android:name="mods.ecoscapes.AQUARIUM_INTENT"></action>
                <action android:name="mods.ecoscapes.SHARK_INTENT" ></action>
                <action android:name="mods.ecoscapes.LOBSTER_INTENT"></action>
                <action android:name="mods.ecoscapes.POISON_INTENT"></action>
                <action android:name="mods.ecoscapes.SCHOOL_INTENT"></action>
                <action android:name="mods.ecoscapes.ARTIFICIAL_INTENT"></action>
                <action android:name="mods.ecoscapes.LIVING_INTENT"></action>
                <action android:name="mods.ecoscapes.BLIND_INTENT"></action>
            </intent-filter>
        </receiver>
       
    </application>

</manifest>