<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.fau.group6.ecoscapes.aquarium"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="edu.fau.group6.ecoscapes.aquarium.TankActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.fau.group6.ecoscapes.aquarium.sharktank.SharkTank"
            android:label="@string/title_activity_shark_tank" >
        </activity>
        <activity
            android:name="edu.fau.group6.ecoscapes.aquarium.lobstertank.LobsterTank"
            android:label="@string/title_activity_lobster_tank" >
        </activity>
        <activity
            android:name="edu.fau.group6.ecoscapes.aquarium.poisontank.PoisonTank"
            android:label="@string/title_activity_poison_tank" >
        </activity>
        <activity
            android:name="edu.fau.group6.ecoscapes.aquarium.schooltank.SchoolTank"
            android:label="@string/title_activity_school_tank" >
        </activity>
        <activity
            android:name="edu.fau.group6.ecoscapes.aquarium.livingreef.LivingReef"
            android:label="@string/title_activity_living_reef" >
        </activity>
        <activity
            android:name="edu.fau.group6.ecoscapes.aquarium.artificialreef.ArtificialReef"
            android:label="@string/title_activity_artificial_reef" >
        </activity>
        <activity
            android:name="edu.fau.group6.ecoscapes.aquarium.blindcave.BlindCaveTank"
            android:label="@string/title_activity_blind_cave_tank" >
        </activity>
    </application>

</manifest>
